In [1]:
first_name = 'Brian'
last_name = 'Kogi'

sentence = 'My name is {} {}'.format(first_name, last_name)
print(sentence)

My name is Brian Kogi

In [4]:
sentence = f'My name is {first_name.upper()} {last_name.upper()}'
print(sentence)

My name is BRIAN KOGI

In [5]:
person = {'name': 'Jenn', 'age': 23}
sentence = 'My name is {} and I am {} years old.'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old.

In [7]:
sentence = f'MY name is {person["name"]} and I am {person["age"]} years old'
print(sentence)

MY name is Jenn and I am 23 years old

In [8]:
calculation = f'4 times 11 is equal to {4 * 11}'
print(calculation)

4 times 11 is equal to 44

In [9]:
for n in range(1, 11):
  sentence = f'The value is {n}'
  print(sentence)

The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is 10

In [10]:
for n in range(1, 11):
  sentence = f'The value is {n:02}'
  print(sentence)

The value is 01
The value is 02
The value is 03
The value is 04
The value is 05
The value is 06
The value is 07
The value is 08
The value is 09
The value is 10

In [11]:
pi = 3.14159265

sentence = f'Pi is equal to {pi}'
print(sentence)

Pi is equal to 3.14159265

In [12]:
pi = 3.14159265

sentence = f'Pi is equal to {pi:.4f}'
print(sentence)

Pi is equal to 3.1416

In [14]:
from datetime import datetime

birthday = datetime(1990, 1, 1)

sentence = f'Jenn has a birthday on {birthday}'
print(sentence)
sentence = f'Jenn has a birthday on {birthday:%B %d, %Y}'
print(sentence)

Jenn has a birthday on 1990-01-01 00:00:00
Jenn has a birthday on January 01, 1990